h2 {
  text-align: center;
}

video, canvas {
  transform: scalex(-1);
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}

#videowrapper {
  width: 480px;
  overflow: hidden;
  display: none;
}

#videowrapper video {
  margin-left: -80px;
}

#zoom {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 72px;
  padding: 0;
  transform: scale(2.5);
  width: 192px;
}

#zoom:after {
  content: " ";
  display: block;
  clear: both;
}

#keypointImg img {
  display: block;
  margin: auto;
}

